.header-menu__ul{

    padding: 0px;
}
#cart{
    margin-left: 0px;
    padding-left: 10px;
}
.nav__ul{
    display: inline-block;
    vertical-align:top;
    margin-left:500px;
}
.header-menu__cart{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding-left: 10px;
    text-transform: uppercase;
    border-left: 2px solid red;
}
.header-menu__li{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin: 20px;
    text-transform: uppercase;
}
.header__logo{
    display: inline-block;
    padding-left: 135px;
    padding-top: 13px;
}
.header{
    display: inline-block;
}
.stone-collection{
    background: url("background_stone_collection.png")  ;
    height: 708px;
}
.stone-collection-div{
    padding-top: 94px;
    padding-bottom: 114px;
    padding-left: 144px;
    display: inline-block;

}
.stone-collection-text{
    display: inline-block;
    padding-top: 98px;
}
.stone-collection-text__header{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color:#D77474;
    text-transform: uppercase;
}
.stone-collection-text__bold-text{
    margin: 0px;
    padding-top: 12px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    display: inline-block;

}
.stone-collection-text__bottom-text{
    margin: 0px;
    padding-top: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
}
.stone-collection-text__shop-collection{
    margin-top: 31px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    width: 201px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 22px;
    background-color: #AC1313;
    color: white;
    letter-spacing: 1px;
}
.stone-collection__img{
    display: inline-block;
    vertical-align:top;
    padding-top: 33px;
}

.product-categories{
 height: 969px;
}
.product-categories__header-product-categories{
    margin: 0;
    text-align: center;
    padding-top: 120px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
}
.product-categories__header-porcelain-pottery{
    margin: 0;
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}
.product-categories-vases{
    display: inline-block;
    margin-top: 63px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-left: 350px;
    background: #E4B366;
    border: 30px solid #0000000D
}
.product-categories-mugs{
    display: inline-block;

    margin-top: 63px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-left: 150px;
    background: #F05B10;
    border: 30px solid #0000000D
}
.product-categories-plates{
    display: inline-block;
    margin-top: 63px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-left: 150px;
    background: #A21010;
    border: 30px solid #0000000D;
}
.product-categories__p{

    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.product-categories__img{
    padding-top: 76px;
    padding-left: 85px;
}

.table-two-texts{
    width: 100%;
    text-align: left;
    padding-left: 170px;
    margin-top: 87px;
}
.table-two-texts__first-p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 36px;
}
.table-two-texts__first-div{

}
.table-two-texts__second-p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.two-vases-table{
    width: 100%;
    text-align: left;
    margin-left: 144px;
    margin-top: 221px;
}
.two-vases-table-tr{

}
.two-vases-table__rectangle{
    height: 220px;
    width: 500px;
    background-color: #F5F5F5;;
}
.two-vases-table__header1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    padding-top: 244px;
}
.two-vases-table__header2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;

}

.two-vases-table__text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.two-vases-table__view-details{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.pottery-collection__header{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #D77474;
    letter-spacing: 2px;
    margin-top: 121px;
}
.pottery-collection__name{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin-top: 17px;
}

.ready-to-shopping{
    background: url("background_plates.png");
    height: 471px;
}
.ready-to-shopping__header{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #D77474;
    text-transform: uppercase;
    margin: 0;
}
.ready-to-shopping-text{
    padding-left: 144px;
    padding-top: 121px;

}
.ready-to-shopping__second-header{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    margin: 0;
    padding-top: 7px;
}
.ready-to-shopping__body{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.news-and-updates{
    height: 686px;

}
.news-and-updates__tg-logo{
margin-left: 910px;
    margin-top: 121px;

}
.news-and-updates__latest-news{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.news-and-updates__latest-news-new-updates{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin: 0;
}

.news-and-updates-form{
    margin-left: 700px;
}
.news-and-updates__input-email{
    width: 320px;
    height: 45px;
    border: 1px solid #EBEBEB;
    border-radius: 0px;
}
.news-and-updates__input-subscribe{
    width: 175px;
    height: 45px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 63px;
}
.news-and-updates-sign-up__checkbox{
    display: inline-block;
    margin-left: 830px;
}
.news-and-updates-sign-up__text{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-top: 40px;
}
.news-and-updates-sign-up{

}



ul {
    margin: 0px;
}
body{
    margin:0;
}
a{
    text-decoration:none;
}