body{
 margin: 0px;
}

.header{
background-color: #ffffff;
 height: 100px;
}

.header__logo{
 position: absolute;
 left: 15%;
 top: 25px;
}

.header-menu{
 position: absolute;
 right: 20%;
 top: 15px
}
.button{
 width: 80px;
 height: 40px;
 border-radius: 4px;
 background-color: orange;
 outline: none;
 border: 0;
}
a{
 text-decoration: none;
 font-size: large;
}

.second-block{
 height: 700px;
 background-color: #718de1;
}
.text-and-form{
 margin: auto;
 width: 70%;
 height: 50%;
}
.text{
 position: relative;
 top: 50%;
 text-align: center;
 font-size: 40px;
 color: white;
}
.form{
 position: relative;
 top: 60%;
 text-align: center;
 display: inline;
}
.butt{
 height: 40px;
 width: 20%;
 border: 0;
 border-radius: 2px;
}
#quote{
 height: 42px;
 color: white;
 background-color: orange;
 border: 0;
}

.third-block{
 height: 700px;
}
.third-text{
 position: relative;
 top: 25%;
 text-align: center;
 font-size: 40px;
}
.third-li{

 display: inline-block;
 vertical-align: top;
 margin-right: 100px;
font-size: 15px;
}
.third-ul{
 position: relative;
 top:30%;
 left:29%;
 width: 60%;
 padding: 0px;
 vertical-align: top;
}

.fourth-block{
 height: 700px;
 background-color: orange;
}
.fourth-ul{
 margin: 0px;
 padding:  0px;
}
.fourth-li{
 display: inline-block;
 vertical-align: top;
 width: 49%;
}
.fourth-text{
 padding-left: 80px;
 padding-top:150px;
 color: #ffffff;
 width:40%;
}
.fourth-button{
 width: 150px;
 height: 40px;
 margin-left: 80px;
 margin-top: 30px;
 color: white;
 background-color: orange;
}

.fifth-block{
 background-color: orange;
 height: 700px;
}
.fifth-text{
 padding-top: 100px;
 color:white;
 text-align: center;
 line-height: 0.5em;
}
.fifth-table{
 margin: auto;
 padding-top: 50px;
 width: 1500px;
}
.fifth-div{
 background-color: #ffffff;
 width: auto;
 height: 200px;
 margin: 10px;
}
.fifth-li{
 display: inline-block;
 vertical-align: top;
}



.copyright{
 background-color: #718de1;
 color: white;
 text-align: center;
 height: 30px;
 padding-top: 20px;
}
.footer-li{
 margin-left: 40px;
}

ul{
 list-style: none;
}

li.button-li {
 display: inline;
 margin-left: 20px;
}
li{
 display: inline;
}
p{
 margin: 0px;
}